<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/head') %>
<%- include('partials/header') %>
    <main class="main_container">
        <h1>Want to test your math skills <%= past_streaks > 0 ? "again" : "" %>?</h1>
        <div class="quiz_button_container">
            <a href="/quiz">Start Quiz!</a>

        </div>
        <% if (past_streaks > 0) { %>
            <h3>Your last score was <%= last_score %> out of <%= MAX_SCORE %></h3>
        <% } %>
        </main>
<%- include('partials/footer') %>
</body>
</html>
