<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/head') %>
<%- include('partials/header') %>
<main class="main_container">
    <h2>Quiz Question #<%= question_count %> (<%= MAX_SCORE %>)</h2>
    <!-- <p>Answer the question below:</p> -->
    <!-- Display your question here -->
    <h1><%= question_text %>&nbsp;=&nbsp;?</h1>
    <form action="/quiz" method="POST">
        <!-- This handles sending the user's answer back to the server. It's not recommended you modify this, as you shouldn't need to -->
        <label for="answer">Answer</label>
        <input type="text" id="answer" name="answer" required>
        <button type="submit">Submit</button>
        
    </form>
    <div class="quiz_button_container">
        <a href="/">Quit</a>
        <h3>Current Streak: <%= current_streak %> (max <%= MAX_SCORE %>)
        </h3>
    </div>
</main>
    <%- include('partials/footer') %>    
</body>
</html>