<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/head') %>
<%- include('partials/header') %>
    <main class="main_container">
        <h1>Quiz Complete!</h1>
        <div class="results_container">
            <div class="score_container">
                <p class="score_label">Your Score</p>
                <p class="score_value"><%= test_score %></p>
            </div>
            <div class="streak_res_container">
                <p class="streak_res_label">Streak</p>
                <p class="streak_res_value"><%= current_streak %></p>
            </div>
        </div>
    
        <table class="test_results">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <% test_record.forEach(record => { %>
                <tr>
                    <td class="<%= record.correct ? 'correct_answer' : 'incorrect_answer' %>"><%= record.question %>&nbsp=&nbsp?</td>
                    <td class="<%= record.correct ? 'correct_answer' : 'incorrect_answer' %>"><%= record.answer %></td>
                </tr>
            <% }); %>
        </table>
        
        <div class="quiz_button_container">
            <a class="start_over" href="/start">Start Over</a>
            <a class="home_page" href="/home">Home Page</a>
        </div>
    </main>
    
<%- include('partials/footer') %>
</body>
</html>
